/* AliasCSS : This file is compile by AliasCSS Compiler*/


@media (max-width : 768px) {.mob-bgc_nred { background:red   no-repeat; }  } 
.bgc_hfff { background:#fff   ; } 
.bb1px-sc_heee { border-bottom:solid 1px #eee; } 
.fs2rem { font-size:2rem; } 
.ff_agency--fb { font-family:agency fb; } 
.h_c_ndarkred:hover { color:darkred; } 
.fs4rem { font-size:4rem; } 
.fw8 { font-weight: 800; } 
.c_hf4433c { color:#f4433c; } 
.w4rem { width:4rem; } 
.mt-10px { margin-top:-10px; } 
._a_pt10px a { padding-top:10px; } 
.pr { position: relative; } 
.pa { position: absolute; } 
.t0p { top:0%; } 
.w100p { width:100%; } 
.tac { text-align: center; } 
.h_tdu:hover { text-decoration: underline; } 
.t-200p { top:-200%; } 
.zi123123 { z-index:123123; } 
.pf { position: fixed; } 
.h100p { height:100%; } 
.bgc_00000000008 { background:rgba( 000, 000, 000, 0.8)   ; } 
.mt10px { margin-top:10px; } 
.cp { cursor: pointer; } 
.r-15px { right:-15px; } 
.t-20px { top:-20px; } 
.bt1px-sc_hccc { border-top:solid 1px #ccc; } 
.p10px { padding:10px; } 
.bb1px-sc_hccc { border-bottom:solid 1px #ccc; } 
.oa { overflow: auto; } 
.m10pxa { margin:10px auto; } 
.b1px_sc_hccc { border:solid 1px #ccc; } 
.h500px { height:500px; } 
.ff_verdana { font-family:verdana; } 
.h_bgc_hccc:hover { background:#ccc   ; } 
.h_cp:hover { cursor: pointer; } 
.bgc_255255255 { background:rgb( 255, 255, 255 )   ; } 
.fr { float: right; } 
.m5px { margin:5px; } 
.h27rem { height:27rem; } 
.b1px-sc_hccc { border:solid 1px #ccc; } 
.br5px { border-radius:5px; } 
.pl20px { padding-left:20px; } 
.os { overflow: scroll; } 
.c_in { color:inherit; } 
.h_c_000000000:hover { color:rgb( 000, 000, 000 ); } 
.h_tdn:hover { text-decoration: none; } 
.h100px { height:100px; } 
.bglgtc_hf4433c-c_h234234 { background:-moz-linear-gradient(top,#f4433c ,#234234);background:-webkit-linear-gradient(top,#f4433c ,#234234);background:-ms-linear-gradient(top,#f4433c ,#234234);background:linear-gradient(top,#f4433c ,#234234); } 
.p20px { padding:20px; } 
.lh100p { line-height:100%; } 
.p2px { padding:2px; } 
.lss { list-style-type: square; } 
.b1px-sc_hcccc { border:solid 1px #cccc; } 
.c_h099 { color:#099; } 
.c_h2f6f9f { color:#2f6f9f; } 
.c_h4f9fcf { color:#4f9fcf; } 
.c_hd44956 { color:#d44956; } 
.bgc_hccc { background:#ccc   ; } 
.fw6 { font-weight: 600; } 
.dib { display: inline-block; } 
.c_h999 { color:#999; } 
.c_hf3344c { color:#f3344c; } 
.lsn { list-style: none; } 
.p0px { padding:0px; } 
.tdu { text-decoration: underline; } 
.b1px-sc_00000000005 { border:solid 1px rgba( 000, 000, 000, 0.5); } 
.fs1em { font-size:1em; } 
.tdn { text-decoration: none; } 
.c_nblack { color:black; } 
.bgc_hf4433c { background:#f4433c   ; } 
.c_hccc { color:#ccc; } 
.lsdc { list-style-type: decimal; } 
.fw1 { font-weight: 100; } 
.c_nred { color:red; } 
.p5px { padding:5px; } 
.fw9 { font-weight: 900; } 
.c_ngreen { color:green; } 
.ml20px { margin-left:20px; } 
.fs14px { font-size:14px; } 
.bgc_nwhite { background:white   ; } 
.ffm { font-family: monospace; } 
.c_ndimgrey { color:dimgrey; } 
.lh24px { line-height:24px; } 
.p3px { padding:3px; } 
.fs12px { font-size:12px; } 
.ml-10px { margin-left:-10px; } 
.b1px-sc_nsilver { border:solid 1px silver; } 
.bgc_h77480a { background:#77480a   ; } 
.bxs5px5px5px1pxc_00000000008 { box-shadow: 5px 5px 5px 1px rgba( 000, 000, 000, 0.8); } 
.tfr10deg { transform:rotate(10deg); } 
.m20px { margin:20px; } 
.c_00000000007 { color:rgba( 000, 000, 000, 0.7); } 
.wsnw { white-space: nowarp; } 
.bln { border-left:none; } 
.w200px { width:200px; } 
.b1pxs_sc_hccc { border:solid 1px #ccc; } 
.h50px { height:50px; } 
.c_00000000008 { color:rgba( 000, 000, 000, 0.8); } 
.fwb { font-weight: bold; } 
.mh20rem { min-height:20rem; } 
.w2rem { width:2rem; } 
.w8rem { width:8rem; } 
.bxs0px0px0px5pxc_hccc { box-shadow: 0px 0px 0px 5px #ccc; } 
.fs1d5rem { font-size:1.5rem; } 
.c_ngrey { color:grey; } 
